nav a {
  color: white !important;
  font-size: 20px;
  font-family: "Montserrat SemiBold";
}
nav a.dropdown-item{
  color: black !important;
}

form button {
  box-shadow:none !important;
  border-color: white !important;
  color: white !important;
}

form button:hover {
  box-shadow:none !important;
  background-color: white;
  color: black !important;
}
form button:active {
  box-shadow:none !important;
  background-color: white!important;
  color: black !important;
}

.profileIcon{
  width: 45px;
  height: 45px;
}
.pencil{
  width: 40px;
  height: 40px;
}
